
body {
  background: #eef;
}

.notifier {
  width: 200px;
  height: 100px;
  background: #666;
}

.notifier:active {
  background: #333;
}

button {
  outline: none;
  border: none;
}

.tabpage {
  width: 100%;
  height: 100%;
}

.tabpage > .options {
  position: absolute;
  right: 2%;
}

.tabpage > .options > * {
  margin-left: 10px;
  margin-right: 10px;
}

.tabpage > .options > button:active {
  background-color: #336699;
}

.tabpage > .options > .back {
  background: #e84e27;
  width: 180px;
  height: 80px;
  box-shadow: 1px 2px 3px 1px rgba(100,100,100,0.75);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  font-size: 50pt;
}

.tabpage > .options > .close {
  background: #e84e27;
  width: 180px;
  height: 80px;
  box-shadow: 1px 2px 3px 1px rgba(100,100,100,0.75);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  font-size: 50pt;
}

.items {
  position: absolute;
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 30pt;
  margin-bottom: 10px;
  padding-top: 10px;
  background: #e84e27;
  box-shadow: 1px 2px 3px 1px rgba(100,100,100,0.75);
}

.items[status="open"] {
  display: none;
}

.item-section {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  background: #336;
  box-shadow: 1px 2px 3px 1px rgba(20,20,20,0.75);
  transition: transform 0.15s ease-out;
  transform-origin: top center;
}

.item-section[status="hidden"] {
  transform: scaleY(0);
  padding: 0;
  margin: 0;
  box-shadow: none;
  position: absolute;
  width: 80%;
}

.item-section[status="hidden"] * {
  transform: scaleY(0);
  transition: transform 0.15s ease-in-out;
}

.item-section > .header {
  margin-left: 3%;
  text-transform: capitalize;
  font-size: 16pt;
  color: #cccce0;
}

.item-entry {
  background: #cccce0;
  margin-top: 10px;
  height: 40px;
  width: 80%;
  margin-left: 3%;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 16pt;
  text-shadow: 1px 1px rgba(100,100,255,.35);
}

.item-entry > .count {
  float: left;
  height: 100%;
  width: 10%;
}

.item-entry > .value {
  float: left;
  height: 100%;
  width: calc(90% - 50px);
}

.item-entry > .remove {
  color: #cccce0;
  background: none;
  font-size: 20pt;
  float: left;
  width: 50px;
  height: 50px;
  transform: translate(50px,-10px);
  border: 1px solid #cccce0;
}

.item-entry > .remove:active {
  color: #e84e27;
}

.items:active {
  background: #338;
}


.last-item {
  margin-top: 10px;
  transition: all 0.15s ease;
  width: 250px;
  height: 40px;
  background: #e84e27;
  position: absolute;
  left: 125px;
  font-size: 16pt;
  padding-top: calc(20px - 10pt);
  padding-left: 18px;
  box-shadow: 1px 2px 3px 1px rgba(100,100,100,0.75);
}

.last-item[value=""] {
  font-size: 0pt;
  transform: translateX(-125px);
  width: 0;
  margin-top: 5px;
}

.last-item[value=""] > * {
  display: none;
}

.panel {
  position: absolute;
  height: 100%;
  width: 55%;
  transition: all 0.15s ease-in-out;
  /* top: calc(50% - 150px);
  left: calc(50% - 300px); */
  background: #445;
  overflow: scroll;
}

.panel[status="close"] {
  display: inline !important;
  width: 0px;
  position: absolute;
}

.background[status="close"] {
  display: inline !important;
  background: rgba(0,0,0,0);
  pointer-events: none;
}

.panel[status="open"] {
  /* box-shadow: 3px 2px 3px 1px rgba(100,100,100,0.75); */
}

.background {
  background: rgba(0,0,0,0.85);
  transition: all 0.225s ease-out;
}

/* ---------------------------------- */

.notification {
  width: 100px;
  height: 60px;
  text-align: center;
  margin-bottom: 10px;
  animation-name: shrink-y;
  animation-duration: 0.5s;
  animation-delay: 1s;
  background: red;
}


@keyframes shrink-y {
  to {
    height: 0;
    font-size: 0;
  }
}

.notification > .content {
  display: none;
}

.notification > .dismiss  {
  width: 100%;
  height: 100%;
  font-size: 30pt;
  background: #e84e27;
  padding-top: 10px;
  box-shadow: 1px 2px 3px 1px rgba(100,100,100,0.75);
}

/* ---------------------------------- */

.side-panel > * {
  float: left;
}

.side-panel .select {
  width: 4%;
  left: 10px;
  position: fixed;
  top: 30px;

}


.side-panel .option {
  width: 60px;
  height: 60px;
  font-size: 30pt;
  margin-bottom: 40px;
  color: #cccce0;
  background: rgba(0,0,0,0);
}

.side-panel .option[status="selected"] {
  color: #e84e27;
}

.item-list {
  padding-top: 5%;
  margin-left: 13%;
  width: 80%;
}

/* ---------------------------------- */

.menu {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 90%;
}


.menu .select {
  width: 15%;
  height: 100%;
  float: left;
}

.menu .main .option {
  font-size: 40pt;
  width: 100%;
  height: 25%;
  background: #e84e27;
  box-shadow: 1px 2px 3px 1px rgba(100,100,100,0.75);
}

.menu .option[status="selected"] {
  background-color: #336699;
}

.section {
  background: #eef;
  height: 280px;
  width: 40%;
  box-shadow: 1px 2px 3px 1px rgba(100,100,100,0.75);
  float: left;
  margin-right: 3%;
  margin-bottom: 5%;
}

.item-button {
  width: 20%;
  height: calc(27% - 9px);
  color: #ddd;
  text-shadow: 1px 1px rgba(50,50,50,.35);
  background: #e84e27;
  font-size: 14pt;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  vertical-align: top;
  box-shadow: 0 9px #999;
}

.item-button:active {
  color: #eef;
  background-color: #336699;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.flightbar > .flight {
  width: 15%;
  height: 100%;
}

.flightbar > .select {
  width: 85%;
  height: 100%;
}

.flightbar > .select > .option[status="selected"] {
  color: #eef;
  background-color: #336699;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
